{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#arriba{
    background-color: aliceblue;
    padding: 20px;
    color :black;
    
}

body{
    background-color: beige;
    color:black;
    display: flex;
    flex-direction:column;

}

nav a {
    color:aquamarine;
    text-decoration: none;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    text-align: center;
    margin-top: 10px;

}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    font-family: Arial,sans-serif;
    margin: 0 auto;
}

.contenido {
    flex: 3 ;
    background-color:red;
    padding: 20px;
    border-radius: 20px;


}

aside{
    flex: 1;
    background-color:blue;
    padding: 20px;
    border-radius: 10px;
}

footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top:auto;
    
}